---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* for team page and person image */
.person-img {
  width:10em;
  height:10em;
  min-width: 10em;
  min-height: 10em;
  object-fit:cover;
  float:left;
  border-radius: 50%;
  margin: auto;
  display: block;
  align-self: start;
}

.person-wrapper {
  margin-left: 1em;
  width:inherit;
  clear:both;
  display: -webkit-flex; /* Safari */     
  display: flex; /* Standard syntax */
  flex-wrap: wrap;
} 

.person-image-container.left {
  width:10em; 
  float:left; 
  display: flex;
  padding-bottom:1em;
  padding-top:1em;
  display: flex;
  flex-direction: column;
  /*flex: 1 1 50%;*/
  justify-content: flex-end;
}

.person-image-container.right {
  width:70%; 
  float:right;
  padding-bottom:10px;
  padding-top:20px;
  padding-left:1em;
  display: flex;
  flex-direction: column;
  /*flex: 1 1 50%;*/
  justify-content: flex-end;
  min-width: 10em;
}

.person-image-container:last-child {
  align-self: flex-start;
}

@media (max-width: 400px) {
  .person-image-container {
      flex: 1 1 100%;
  }
}

.email {
 color:#7a46eb;
 font-weight: lighter;
 text-decoration: none;
}  


/* adjust color appearance to logo*/
.search__toggle {
  color: #7a46eb;
}
.search__toggle:hover {
  color: #7a46eb;
}

a:visited {
    color: #7a46eb;
}

a {
    color: #7a46eb;
}

.author__urls a {
  color: #7a46eb;
}

a:-webkit-any-link {
    text-decoration: none;
}

.greedy-nav .visible-links a:before {
  background: #7a46eb;
}


/* adjust logo size */
.site-logo img {
  max-height: 3rem;
}

/* define site headings with XAI logo elements */
.site-heading {  
}

.site-heading::before{
  content: '';
  /*background:url('/assets/images/arrow-purple.svg');*/
  background-size: 0.6em 0.8em; 
  background-repeat: no-repeat;
  background-color: #7a46eb;
  -webkit-mask-image: url(/assets/images/arrow-purple.svg);
  -webkit-mask-size:contain;
  -webkit-mask-position:center;
  -webkit-mask-repeat:no-repeat;
  mask-image: url(/assets/images/arrow-purple.svg); /*for backward compatibility*/
/*  mask-size: auto;*/
  mask-position: center;
  mask-repeat: no-repeat;
  width: 0.6em /* width of the image */;
  height: 0.8em /* height of the image */;
  display: inline-block;
  top: 8px;
  margin-right: 0.5em;
}

.site-heading.accent-color-primary::before {
  background-color: #7a46eb;
}

.site-heading.accent-color-secondary::before {
  background-color: #fe3564;
}

.site-heading.accent-color-tertiary::before {
  background-color: #8bd51f;
}

.site-heading.accent-color-quartiary::before {
  background-color: #fcc800;
}

@media (min-width: 1em) { /** social media information in a wrapping container**/
  .author__urls-wrapper {
    display: none;
  }
}

@media (min-width: 48em) {
  .author__urls-wrapper {
    display: block;
  }
}

@media (min-width: 1em) { /** adress, contact information **/
  .author__content {
    display: none;
  }
}

@media (min-width: 48em) {
  .author__content {
    display: block;
  }
}

/* type scale */
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.563em !default;
$type-size-4: 1.25em !default;
$type-size-5: 1.1em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.8em !default;
$type-size-8: 0.625em !default;

/* headline scale */
$h-size-1: 1.563em !default;
$h-size-2: 1.25em !default;
$h-size-3: 1.125em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;


html {
    /* apply a natural box layout model to all elements */
    box-sizing: border-box;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px; // change to whatever
    
    @include breakpoint($medium) {
      font-size: 12px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 13px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 14px; // change to whatever
    }
  }

/* for publications */
.bib { /*global bib */
  font-size: 0.8rem; 
  ol {list-style-type:none;}
 }

 /*key publications with {% reference %} */
.key_pubs {
  list-style-type: none;
  font-size: 0.8rem;
}
.single_pub {
  padding: 0;
}