---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* for team page and person image */
.person-img {
  width:150px;
  height:150px;
  object-fit:cover;
  float:left;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.person-wrapper {
  width:100%;
  clear:both;
  display: -webkit-flex; /* Safari */     
  display: flex; /* Standard syntax */
} 

.person-image-container.left {
  width:30%; 
  float:left; 
  display: flex;
  justify-content: center;
  padding-right:10px;
  padding-bottom:10px;
  padding-top:10px;
}

.person-image-container.right {
  width:70%; 
  float:right;
  padding-bottom:10px;
  padding-top:20px;
}

.email {
 color:#7a46eb;
 font-weight: lighter;
 text-decoration: none;
}  

/* for publications */
.bib {
 font-size: 0.8rem; 
 ol {list-style-type:none;}
}

/* adjust color appearance to logo*/
.search__toggle {
  color: #7a46eb;
}
.search__toggle:hover {
  color: #7a46eb;
}

a:visited {
    color: #7a46eb;
}

a {
    color: #7a46eb;
}

.author__urls a {
  color: #7a46eb;
}

a:-webkit-any-link {
    text-decoration: none;
}

.greedy-nav .visible-links a:before {
  background: #7a46eb;
}

/* adapt font sizes */

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: #fff;
  font-size: 10px; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@media (min-width: 48em) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 14px; 
  }
}
@media (min-width: 80em) {
  html {
    font-size: 16px;
  }
}

/* adjust logo size */
.site-logo img {
  max-height: 3rem;
}

/* define site headings with XAI logo elements */
.site-heading {  
}

.site-heading::before{
  content: '';
  /*background:url('/assets/images/arrow-purple.svg');*/
  background-size: 0.6em 0.8em; 
  background-repeat: no-repeat;
  background-color: #7a46eb;
  -webkit-mask-image: url(/assets/images/arrow-purple.svg);
  -webkit-mask-size:contain;
  -webkit-mask-position:center;
  -webkit-mask-repeat:no-repeat;
  mask-image: url(/assets/images/arrow-purple.svg); /*for backward compatibility*/
  mask-size: auto;
  mask-position: center;
  mask-repeat: no-repeat;
  width: 0.6em /* width of the image */;
  height: 0.8em /* height of the image */;
  display: inline-block;
  top: 8px;
  margin-right: 0.5em;
}

.site-heading.accent-color-primary::before {
  background-color: #7a46eb;
}

.site-heading.accent-color-secondary::before {
  background-color: #fe3564;
}

.site-heading.accent-color-tertiary::before {
  background-color: #8bd51f;
}

.site-heading.accent-color-quartiary::before {
  background-color: #fcc800;
}